$white: #fff;
$grey: #f1f4f5;
$greyD: #ddd;
$greyDarker: #eef2f7;
$greyDarkest: #c0ccce;

$textGrey: #757c85;
$textGreyDarker: #575757;

$borderColor: #d5d5d5;

$danger: #FA4A4D;
$dangerDarker: #d81c1c;

$primary: #394892;
$primaryLighter: #808CC5;
$primaryLight: #5463A7;
$primaryDark: #23337D;
$primaryDarker: #122063;