$white: #fff;
$grey: #E6E6F3;
$greyD: #ddd;
$greyDarker: #B5B4DD;
$greyDarkest: #c0ccce;

$textGrey: #757c85;
$textGreyDarker: #575757;

$borderColor: #d5d5d5;

$danger: #FA4A4D;
$dangerDarker: #d81c1c;

$primary: #050593;
$primary2: #3D35A6;
$primaryLighter: #544EB1;
$primaryLight: #6C68BC;
$primaryDark: #23337D;
$primaryDarker: #122063;